<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trade Management System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Order Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/portfolios}">Portfolio Management</a>
            </li>

        </ul>
    </div>
</nav>
<br>
<br>
<div class ="container">
  <div  class="row">
    <h1> List Portfolios</h1>
  </div>
    <div class = "row">
        <div class="col-lg-3">
            <a th:href ="@{/portfolios/new}" class="btn btn-primary btn-sm mb-3"> Add Portfolio</a>
        </div>

    </div>
  <table class="table table-striped table-bordered">
    <thead  class="table-dark">
    <tr>
      <th>Portfolio Number</th>
      <th>Portfolio Name</th>
      <th>Portfolio Type</th>
      <th> Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "portfolios: ${portfolios}">
        <td th:text = "${portfolios.PortfolioNo}"></td>
        <td th:text = "${portfolios.PortfolioName}"></td>
        <td th:text = "${portfolios.PortfolioType}"></td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</html>